coolname
grpcio
grpcio-tools
protoletariat
paramiko>=3.5.1
pyserial
pyzmq
build
scipy
cython
rich
pre-commit
pytest
pytest-asyncio
dearpygui
pyqtgraph
pyqt5
pyyaml
pandas>=2.2.0
protobuf>=5.29
numpy >=2.0.0
crcmod
h5py